.method {
  margin-bottom: 24px;
}

.method img.spec {
  display: block;
  width: 100%;    /* 오디오와 같은 가로폭 */
  max-width: 800px;
  height: auto;   /* 세로는 비율 유지 */
  margin: 10px 0;
}

audio {
  width: 100%;    /* 이미지와 동일한 가로폭 */
  max-width: 800px;
}